.App {
  text-align: center;
}

.navbar-logo-no-margin {
  margin: 0 50px;
}

.navbar-collapse {
  justify-content: center;
}

.brand-link {
  color: black;
  text-decoration: none;
}

.nav-link {
  margin: 0 50px;
}

body {
  margin: 0;
}
